html{
  margin: 0;
  padding: 0;
  background: beige;
}
img{

    width: auto;
    margin-top: 0 1em;
    padding: 0 1em ;
}
.text{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
}
a{
  text-decoration: none;
}
h2{
  font-size: 1.5em;
  text-align: center;
  margin: 2em 0;
}
h3{
  font-size: 1em;
  margin: 0.3em 0;
}
section{
  margin: 0 5em;

}
section ul{
  margin: 0 2em;
}
.header {
  display: flex;
  flex-direction:row;
  justify-content:space-between;

}

section .content{
  display: flex;
  text-align: center;
  flex-direction: column;
}
table{
  margin: 0;
  border-collapse: separate;
  border-spacing: 0 1em;
}
th,
td {
  width: 100%;
  text-align: left;
  justify-content:center;
  border: .01em solid black;
  padding: .5em;
}
